<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Framework tests</title>
</head>
<body>

<div id="form"></div>
<div id="list"></div>

<script id="formView" type="text/template">
    <h2> New User </h2>
    <p> Name: <input type="text" id="name" /> </p>
    <p> Age: <input type="text" id="age" /> </p>
    <p><button>Create</button></p>
</script>

<script id="userView" type="text/template">
    <div>
        <p>
            Name: <%= name %> <br />
            Age: <%= age %> <button> Delete </button>
        </p>
    </div>
</script>

<script id="usersView" type="text/template">
    <h2> Users </h2>
</script>

<script id="noUsersView" type="text/template">
    <h2> No Users </h2>
</script>

<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="bower_components/marionette/public/javascripts/backbone.js"></script>
<script type="text/javascript" src="bower_components/marionette/lib/backbone.marionette.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>